{% extends 'base.html.twig' %}

{% block title %}New Automates{% endblock %}

{% block body %}
    <h1>Create new Automates</h1>

    {{ include('automates/_form.html.twig') }}

    <a href="{{ path('automates_index') }}">back to list</a>
{% endblock %}
